@tailwind base;
@tailwind components;
@tailwind utilities;

/* 自定义滚动条 */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #334155;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background: #475569;
}

/* 画布棋盘背景 */
.checkerboard-bg {
  background-color: #0B1121;
  background-image: linear-gradient(45deg, #151e32 25%, transparent 25%), linear-gradient(-45deg, #151e32 25%, transparent 25%), linear-gradient(45deg, transparent 75%, #151e32 75%), linear-gradient(-45deg, transparent 75%, #151e32 75%);
  background-size: 20px 20px;
  background-position: 0 0, 0 10px, 10px -10px, -10px 0px;
}
